[submodule "bms_hardware"]
	path = bms_hardware
	url = https://github.com/moyamartin/bms_hardware.git
[submodule "bms_firmware"]
	path = bms_firmware
	url = https://github.com/moyamartin/bms_firmware.git
[submodule "bms_documentation"]
	path = bms_documentation
	url = https://github.com/moyamartin/bms_documentation
[submodule "bms_simulations"]
	path = bms_simulations
	url = https://github.com/moyamartin/bms_simulations
